.vector-logo img {
    height: 50px;
    width: auto;
    display: block;
    margin-left: auto;
}

/* Light theme */
.light .vector-logo .dark-logo,
.rust .vector-logo .dark-logo { display: none; }
.light .vector-logo .light-logo,
.rust .vector-logo .light-logo { display: block; }

/* Dark themes */
.coal .vector-logo .light-logo,
.navy .vector-logo .light-logo,
.ayu .vector-logo .light-logo { display: none; }

.coal .vector-logo .dark-logo,
.navy .vector-logo .dark-logo,
.ayu .vector-logo .dark-logo { display: block; }
