[tool.poetry]
name = "fl4health"
version = "0.1.0"
description = "Federated Learning for Health"
authors = ["Vector AI Engineering <fl4health@vectorinstitute.ai>"]
license = "MIT"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = ">=3.8.1,<3.11"
flwr = "^1.2.0"
opacus = "^1.3.0"
tensorflow-privacy = "^0.8.7"
torch = "^1.13.1"

[tool.poetry.group.dev.dependencies]
nltk = "^3.8.1"
torchvision = "^0.14.1"

[tool.poetry.group.codestyle.dependencies]
black = "^22.12.0"
flake8 = "^6.0.0"
isort = "^5.11.4"
mypy = "^0.991"
pre-commit = "^3.0.1"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
types-requests = "^2.28.11.8"
types-setuptools = "^65.7.0.3"
toml = "^0.10.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 119

[tool.isort]
line_length = 119
profile = "black"
skip_gitignore = true

[tool.mypy]
ignore_missing_imports = true
install_types = true
pretty = true
non_interactive = true
disallow_untyped_defs = true
no_implicit_optional = true
check_untyped_defs = true
