[tool.poetry]
name = "fl4health"
version = "0.1.11"
description = "Federated Learning for Health"
authors = ["Vector AI Engineering <fl4health@vectorinstitute.ai>"]
license = "Apache-2.0"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = ">=3.9.0,<3.11"
numpy = "^1.24"
pandas = "^2.0"
flwr = "1.4.0"
opacus = "^1.3.0"
torch = "^1.12.1"
pycyclops = "^0.2.2"
dp-accounting = "^0.4.3"

[tool.poetry.group.dev.dependencies]
# locked the 2.13 version because of restrictions with tensorflow-io
# (see https://pypi.org/project/tensorflow-io/ section "TensorFlow Version Compatibility")
tensorflow = "2.13"
nltk = "^3.8.1"
torchvision = "^0.14.1"
torchinfo = "^1.8.0"
ipykernel = "^6.25.1"
scikit-learn = "^1.2.2"
wandb = "^0.16.1"

[tool.poetry.group.dev-local.dependencies]
torchtext = "0.14.1"
torchdata = "0.5.1"
torcheval = "^0.0.6"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.3"
mock = "^5.1.0"
pytest-cov = "^4.1.0"
freezegun = "^1.4.0"

[tool.poetry.group.codestyle.dependencies]
black = "^22.12.0"
flake8 = "^5.0.4"
pyproject-flake8 = "5.0.4"
isort = "5.11.5"
mypy = "^0.991"
pre-commit = "^3.0.1"
pytest = "^7.2.1"
pytest-cov = "^4.0.0"
toml = "^0.10.2"
types-requests = "^2.28.11.8"
types-setuptools = "^65.7.0.3"
types-protobuf = "^4.24.0.4"
types-pyyaml = "^6.0.12.12"
types-six = "^1.16.21.9"
types-tabulate = "^0.9.0.3"
pip-audit = "^2.4"
cyclonedx-python-lib = "<6"  # fix to make pip-audit 2.4 work

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 119

[tool.isort]
line_length = 119
profile = "black"
skip_gitignore = true
known_third_party = ["wandb"]
