black
flake8
flwr==1.4.0
isort
mypy
nltk
numpy
opacus
pandas
pre-commit
pyproject-flake8==5.0.4
pytest
pytest-cov
scikit-learn
tensorflow-privacy
toml
torch
torchdata
torcheval
torchinfo
torchtext
torchvision
types-requests
types-setuptools
wandb
