name: docs (build)

on:
  pull_request:
    branches:
      - main
    paths:
      - .pre-commit-config.yaml
      - .github/workflows/docs_build.yml
      - '**.py'
      - '**.ipynb'
      - '**.js'
      - '**.html'
      - poetry.lock
      - pyproject.toml
      - '**.rst'
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - name: Install dependencies, build docs and coverage report
        run: python3 -m pip install --upgrade pip && python3 -m pip install poetry
      - uses: actions/setup-python@v5.2.0
        with:
          python-version: '3.10'
          cache: 'poetry'
      - run: |
          python3 -m pip install --upgrade pip && python3 -m pip install poetry
          poetry env use '3.10'
          source $(poetry env info --path)/bin/activate
          poetry install --with docs,test
          cd docs && rm -rf source/reference/api/_autosummary && make html
          cd .. && coverage run -m pytest -m "not integration_test" && coverage xml && coverage report -m
