# only has to pass for python 3.9
name: Static code checks

on:
  push:
    branches:
      main
  pull_request:
    branches:
      main

jobs:
  run-code-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Set up cache
        uses: actions/cache@v4
        id: cached-poetry-dependencies
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.full-python-version.outputs.version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: poetry install --with "dev, test, codestyle"
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      - name: Pre-commit Checks
        run: |
          source .venv/bin/activate
          pre-commit run --all-files
      - name: pip-audit (gh-action-pip-audit)
        uses: pypa/gh-action-pip-audit@v1.0.8
        with:
          virtual-environment: .venv/
          # ignoring security vulnerabilities for mlflow as monai's autoseg3d
          # pipeline depends on mlflow=^2.12.2. Raised an issue with mlflow
          # https://github.com/mlflow/mlflow/issues/12565
          # Seems mlflow has no intentions to fix this, they are pushing
          # pip-audit to ignore these warnings
          # Vulnerabilities from GHSA-x38x-g6gr-jqff to GHSA-7p8j-qv6x-f4g4
          # originate from mlflow
          # Ignore pytorch vulnerability GHSA-pg7h-5qx3-wjr3
          ignore-vulns: |
            GHSA-x38x-g6gr-jqff
            GHSA-j8mg-pqc5-x9gj
            GHSA-ghv6-9r9j-wh4j
            GHSA-cv6c-7963-wxcg
            GHSA-76cg-cfhx-373f
            GHSA-wf7f-8fxf-xfxc
            GHSA-cwgg-w6mp-w9hg
            GHSA-43c4-9qgj-x742
            GHSA-7p8j-qv6x-f4g4
            GHSA-pg7h-5qx3-wjr3
