# only has to pass for python 3.10
name: Static code checks

on:
  push:
    branches:
      main
  pull_request:
    branches:
      main

jobs:
  run-code-check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.5
        with:
          version: "0.9.11"
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: uv sync --group dev --group test --group codestyle

      - name: Pre-commit Checks
        run: uv run pre-commit run --all-files

      - name: pip-audit (gh-action-pip-audit)
        uses: pypa/gh-action-pip-audit@v1.1.0
        with:
          virtual-environment: .venv/
          # GHSA-3749-ghw9-m3mg and GHSA-887c-mr87-cxwp are pytorch vulnerabilities that require 2.7 and 2.8 but we're
          # pinning to 2.6.0 for now.
          # GHSA-wf7f-8fxf-xfxc ML Flow vulnerability in deserialization that hasn't been patched yet.
          # CVE-2024-55459, CVE-2025-9906, CVE-2025-12058, CVE-2025-12060 are keras vulnerabilities that require 3.11.0+
          # but we're pinning to keras 2.15 for tensorflow 2.15 compatibility.
          ignore-vulns: |
            GHSA-3749-ghw9-m3mg
            GHSA-887c-mr87-cxwp
            GHSA-wf7f-8fxf-xfxc
            CVE-2024-55459
            CVE-2025-9906
            CVE-2025-12058
            CVE-2025-12060

      # Deleting some temporary files and useless folders to free up space
      # Deleting /usr/share/dotnet should clear ~4GB of space.
      # Deleting /usr/local/lib/android should clear ~12GB of space.
      - name: Cleanup space (before cache save)
        run: |
          df -h /dev/root
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android
          df -h /dev/root
