# only has to pass for python 3.10
name: PyTest Unit Tests

on:
  push:
    branches:
      main
  pull_request:
    branches:
      main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      # Display the Python version being used
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Set up cache
        uses: actions/cache@v4
        id: cached-poetry-dependencies
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.full-python-version.outputs.version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: poetry install --with "dev, test"
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      - name: Display chip manufacturer
        run: python -c "import cpuinfo; print(cpuinfo.get_cpu_info().get('brand_raw', 'Unable to get chip manufacturer'))"
      - name: Run Tests
        run: |
          source .venv/bin/activate
          pytest -m "not smoketest" -v --cov fl4health --cov-report=xml tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: VectorInstitute/FL4Health
          fail_ci_if_error: true
          verbose: true
