# only has to pass for python 3.10
name: PyTest Unit Tests

on:
  push:
    branches:
      main
  pull_request:
    branches:
      main

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:

      - name: Free disk space (optional)
        run: |
          sudo rm -rf /usr/share/dotnet /opt/ghc /usr/local/lib/android /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
        continue-on-error: true

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
          cache: "poetry"

      # Display the Python version being used
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: poetry install --with "dev, test"

      - name: Run Tests
        run: |
          source .venv/bin/activate
          pytest -m "not smoketest" -v --cov fl4health --cov-report=xml tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: VectorInstitute/FL4Health
          fail_ci_if_error: true
          verbose: true

      - name: Cleanup workspace (before cache save)
        run: |
          rm -rf build dist .pytest_cache .mypy_cache .ruff_cache .coverage coverage htmlcov
